name: Cicd pipeline for java based application
on:
    push:
        branches: [main]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: code checkout
              uses: actions/checkout@v6.0.1
            - run: |
                ls -l 



