name: Cicd pipeline for java based application
on:
    push:
        branches: [main]
#
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: code checkout
              uses: actions/checkout@v6.0.1

            - name: setup java
              uses: actions/setup-java@v5.1.0
              with:
                distribution: 'temurin'
                java-version: '21'

            - name: build with maven
              run: mvn -B clean package
            - run: |
                echo "build successfull"
        
            - name: sonarqube scan
              uses: SonarSource/sonarqube-scan-action@v7.0.0
              env:
                SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
                SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

            - name: sonarqube qwality gate check
              uses: SonarSource/sonarqube-scan-action@v7.0.0
              id: sonarqube-quality-gate-check
              with:
                pollingTimeoutSec: 600
              env:
                SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
                SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }} 

            - name: upload the artifact
              uses: actions/upload-artifact@v6.0.0
              with:
                ame: Jar-files
                path: /target/*.jar
