name: terraform cicd pipeline
on:
  pull_request:
    branches: ["main"]
  push:
    branches: ["main"]

env:
    TF_VERSION: 1.6.6
jobs:
    terraform-plan:
        name: Terraform Plan & Checks
        runs-on: ubuntu-latest
        steps: 
            - name: checkout code
              uses: actions/checkout@v6.0.1

            - name: setup terraform 
              uses: hashicorp/setup-terraform@v3.1.2
              with:
                terraform_version: ${{ env.TF_VERSION }}

            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v5
              with:
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws-region: ap-south-1
            - name: terraform init
              run: |
                terraform init
              working-directory: terraform

            - name: terraform formate check
              run: |
                terraform fmt -check -recursive
              working-directory: terraform

            - name: terraform validate
              run: |
                terraform validate
              working-directory: terraform

            - name: Setup TFLint
              uses: terraform-linters/setup-tflint@v6

            - name: Run TFLint
              run: |
                tflint --init
                tflint
              working-directory: terraform

            - name: run tfsec (security scan)
              uses: aquasecurity/tfsec-action@v1.0.3
              with:
                working_directory: terraform
              continue-on-error: true
                

            - name: terraform plan
              working-directory: terraform
              run: |
                terraform plan -out=tfplan
                terraform show -no-color tfplan > plan.txt
              env:
                AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
                AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

            - name: upload terraform plan
              uses: actions/upload-artifact@v6.0.0
              with:
                name: plan
                path: terraform/plan.txt

# -------------------------------
# CD JOB: APPLY (APPROVAL REQUIRED)
# -------------------------------

    terraform-apply:
        runs-on: ubuntu-latest
        needs: terraform-plan
        environment: production
        steps:
            - name: checkout code
              uses: actions/checkout@v6.0.1

            - name: setup terraform 
              uses: hashicorp/setup-terraform@v3.1.2
              with:
                terraform_version: ${{ env.TF_VERSION }}

            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v5
              with:
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws-region: ap-south-1

            - name: terraform init
              run: |
                terraform init
              working-directory: terraform

            - name: terraform Apply 
              run: |
                terrafrom appply --auto-approve
              working-directory: terraform
              env:
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

            - name: terraform output
              run: terraform output
              working-directory: terraform


            
